@using Hemlock.Models
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    Page.Title = "My Profile";
    Page.Heading = "My Profile";
    var employee = (Employee)Session["User"];
}
    <form class="form" id="user-profile-details">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="user-first-name">First Name:</label>
                        @Html.EditorFor(Model => @employee.FirstName,
      new { htmlAttributes = new { @class = "form-control", disabled="disabled" } })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="user-last-name">Last Name:</label>
                        @Html.EditorFor(Model => @employee.LastName,
                  new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="user-email">Email:</label>
                        @Html.TextBoxFor(Model => @employee.Email,
                  new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="user-position">Position:</label>
                        @Html.EditorFor(Model => @employee.Position.PositionName,
                  new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="edit-employee-start-date">Start Date:</label>
                        @Html.TextBoxFor(Model => @employee.StartDate,
                   new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label for="edit-employee-end-date">End Date:</label>
                        @Html.TextBoxFor(Model => @employee.EndDate,
                   new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="editButtons">
            <div class="col-xs-4">
            </div>
            <div class="col-sm-4 txt-align-right">
                @Html.ActionLink("Back to previous page", null, null, null,
          new
          {
              @href = "javascript:void(0);",
              @onclick = "history.go(-1);",
              @class = "btn btn-danger",
              @id = "btn-go-back"
          })
            </div>
        </div>
    </form>